section{
    position: relative;
    width: 90%;
    height: 455px;
    box-sizing: border-box;
}
.armada-title{
    height: 40px;
    width: 100%;
    border-bottom: var(--secondary-color) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -15px;
  }
.activity{
    display: flex;
    align-items: center;
    margin-top: 15px;
    background: var(--accent-color);
    --edge-size: 1.25em;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
    );
    box-shadow: 0px 0px 0px 5px var(--tertiary-color),
      inset 0px 10px 27px -8px #141414,
      inset 0px -10px 27px -8px var(--tertiary-color),
      1px -2px 31px 34px rgba(0, 0, 0, 0);
}
.activity-visual{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    
}
.activity-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

@keyframes moveShip {
    from { transform: translateX(-90px); }
    to { transform: translateX(90px); }
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activity-planet{  
    position: relative;
    text-align: center;
    z-index: 2;
    margin: -30px 0px 15px 0px;
}
.unit-box-title, .unit-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-top: 10px;
    padding: 0px 30px;
}
.unit-box{
    background: var(--accent-color);
    --edge-size: 1.25em;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
    );
    box-shadow: 0px 0px 0px 5px var(--tertiary-color),
      inset 0px 10px 27px -8px #141414,
      inset 0px -10px 27px -8px var(--tertiary-color),
      1px -2px 31px 34px rgba(0, 0, 0, 0);
}
ul{
    list-style: none;
}
.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}