h1,
h4 {
  color: white;
}

/* .werften {
  --background-color: linear-gradient(to bottom right, #0e1b24, #72203b);
  color: white;
} */

/* Muss in jeder Seite eingefügt werden, da der button durch die home.css sonst immer 
    gehighlighted ist */

.uebersicht {
  --background-color: var(--tertiary-color);
  --border-color: linear-gradient(to bottom right, #0e1b24, #72203b);
  color: #0e1b24;
}

.werften-title {
  width: 100%;
  height: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--accent-color);
  display: flex;
  justify-content: space-between;
}

.ship-data {
  width: 225px;
  height: 98%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: start;
  padding: 10px 10px 0 10px;
  align-self: end;
}

.ship-data li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

.ship-data li:last-child {
  border-bottom: none;
}

.ship-data li span {
  font-weight: bold;
  color: #ffdd57; /* Helle Akzentfarbe für die Bezeichner */
}

.ship-name {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

.build-menu {
  width: 180px;
  height: 230px;
  position: relative;
  top: 261px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: start;
  padding: 5px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
  padding: 5px 10px 0 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.build-menu li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

.build-menu li:last-child {
  border-bottom: none;
}

.build-menu li span {
  font-weight: bold;
  color: #ffdd57; /* Helle Akzentfarbe für die Bezeichner */
}

.build-counter {
  width: 30px;
  height: 15px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.buy-message {
  font-size: 1.3rem;
}

.increment-decrement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.increment-decrement button {
  width: 10px;
  height: 15px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 2px 0;
}

.increment-decrement button:hover {
  background-color: #0056b3;
}

.buy-btn {
  align-self: center;
  max-height: 25px;
  width: 150px;
}

.werften-box {
  width: 75%;
  height: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.werft {
  width: 100%;
  height: 33%;
  background-color: var(--accent-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.werft-bar {
  width: 100%;
  background-color: var(--accent-color);
  border-bottom: 1px solid var(--secondary-color);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 40px);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

#change-klein {
  grid-area: 2 / 2 / 3 / 3;
}
#change-mittel {
  grid-area: 2 / 3 / 3 / 4;
}
#change-gross {
  grid-area: 2 / 4 / 3 / 5;
}

.btn-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  width: 100%;
  height: 30rem;
  /* border-radius: 20px; */
}

.btn1 {
  grid-area: 2 / 2 / 3 / 3;
  width: 130px;
}
.btn2 {
  grid-area: 2 / 3 / 3 / 4;
  width: 130px;
}
.btn3 {
  grid-area: 2 / 4 / 3 / 5;
  width: 130px;
}
.btn4 {
  grid-area: 2 / 5 / 3 / 6;
  width: 130px;
}
.btn5 {
  grid-area: 4 / 2 / 5 / 3;
  width: 130px;
}
.btn6 {
  grid-area: 4 / 3 / 5 / 4;
  width: 130px;
}
.btn7 {
  grid-area: 4 / 4 / 5 / 5;
  width: 130px;
}
.btn8 {
  grid-area: 4 / 5 / 5 / 6;
  width: 130px;
}

.btn9 {
  grid-area: 3 / 2 / 4 / 3;
  width: 130px;
}
.btn10 {
  grid-area: 3 / 3 / 4 / 4;
  width: 130px;
}
.btn11 {
  grid-area: 3 / 4 / 4 / 5;
  width: 130px;
}
.btn12 {
  grid-area: 3 / 5 / 4 / 6;
  width: 130px;
}

.active {
  --background-color: linear-gradient(to bottom right, #0e1b24, #72203b);
  color: white;
}

@media screen and (max-width: 1440px) {
  .btn-box > .btn {
    width: 100px;
  }
}
