header {
    /*width: 100%;*/
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-bottom: var(--secondary-color) 2px solid;
    padding: 5px;
  }
  
  header a {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
  }
  header a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .head-bar {
    display: flex;
    justify-content: center;
    gap: 5rem;
    min-width: 600px;
  }

  .player {
    display: flex;
    justify-content: center;
    min-width: 300px;
  }
  
  .clock {
    min-width: 100px;
    color: white;
  }
  