h1,
h4 {
  color: white;
}

.uebersicht {
  --background-color: var(--tertiary-color);
  --border-color: linear-gradient(to bottom right, #0e1b24, #72203b);
  color: #0e1b24;
}

.content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 1000px;
  height: fit-content;
}

.defense-top {
  border: 2px solid red;
  width: 95%;
  height: 500px;
  margin-bottom: 40px;
  display: flex;
}

.defense-info {
  width: 200px;
  height: 250px;
  border: 2px solid green;
  position: relative;
  left: 2%;
  margin: auto 0 auto 0;
}

.defense-img {
  width: 60%;
  height: 65%;
  border: 2px solid yellow;
  position: relative;
  left: 5%;
  margin: auto 0 auto 0;
}
.defense-bot {
  border: 2px solid white;
  width: 95%;
  min-height: 40vh;
  display: flex;
}

.defense-btnbox {
  width: 200px;
  height: 100px;
  border: 2px solid blue;
}

.defense-description {
  width: 200px;
  height: 100px;
  border: 2px solid pink;
}
