
.uebersicht {
    --background-color: linear-gradient(to bottom right, #0e1b24, var(--secondary-color));
    color: white;
  }  

.uebersicht-title {
    height: 100px;
    width: 100%;
    border-bottom: var(--secondary-color) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .uebersicht-title > h1 {
    color: white;
    padding-bottom: 5px;
    font-size: 5rem;
  }

  .uebersicht-user{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
  }
  
  .topcontent {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .uebersicht-topcontent {
    width: 75%;
    height: 400px;
    background-image: url(/uebersicht/uebersicht-hintergrund-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    --edge-size: 1.25em;
    padding: 0.5em 1.5em;
    margin-top: 25px;
    place-content: center;
    text-align: center;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
    );
    justify-self: center;
    border: 2rem var(--accent-color) solid;
    color: white;
  }
  
  .uebersicht-midcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-top: 25px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .midcontent-row1,
  .midcontent-row2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
  }
  
  .uebersicht-status {
    --edge-size: 1.25em;
    width: 225px;
    height: 140px;
    border: 0;
    color: white;
    background: var(--accent-color);
    padding: 0.5em 1.5em;
    position: relative;
    place-content: center;
    text-align: center;
    clip-path: polygon(
      var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size)
    );
    box-shadow: 0px 0px 0px 5px var(--secondary-color),
      inset 0px 10px 27px -8px #141414,
      inset 0px -10px 27px -8px var(--secondary-color),
      1px -2px 31px 34px rgba(0, 0, 0, 0);
  }
  
  .uebersicht-status > h4 {
    margin-bottom: 0.8rem;
    padding-bottom: 5px;
    border-bottom: 1px var(--secondary-color) solid;
  }